@model SGO.Core.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Alterar Senha";
}

<br /><br />

<div class="well col-md-6 col-md-offset-3 col-xs-12">
    <h2 class="col-md-12 text-center">@ViewBag.Title</h2>
    <br /><br /><br />

    @using (Html.BeginForm("AlterarSenha", "Home", FormMethod.Post, htmlAttributes: new { @class = "form col-md-12" }))
    {
        @Html.AntiForgeryToken()

        <div class="row col-md-12">
            <div class="form-group col-md-12">
                @Html.Label(String.Empty, "E-mail*:", new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    <span class="form-control">@Session["txt_email"]</span>                                   
                </div>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="form-group col-md-12">
                @Html.Label(String.Empty, "Senha*:", new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(x => x.txt_senha, new { @class = "form-control", @type = "password" })
                    @Html.ValidationMessageFor(c => c.txt_senha)
                </div>
            </div>
        </div>       

        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary">Salvar</button>
            </div>
        </div>
    }

    <div class="clearfix"></div>
</div>
