@model SGO.Core.ViewModel.RecuperarSenhaViewModel
@{
    ViewBag.Title = "Recuperar Senha";
}

<br /><br />

<div class="well col-md-6 col-md-offset-3 col-xs-12">
    <h2 class="col-md-12 text-center">@SGO.Core.Response.ResponseMensagem.MN010.Texto</h2>
    <br /><br /><br />

    @using (Html.BeginForm("RecuperarSenha", "Login", FormMethod.Post, htmlAttributes: new { @class = "form col-md-12" }))
    {
        @Html.AntiForgeryToken()

        <div class="row col-md-12">
            <div class="form-group col-md-12">
                @Html.Label(String.Empty, "E-mail*:", new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(x => x.txt_email, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(c => c.txt_email)
                </div>
            </div>
        </div>               

        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary">Enviar</button>
            </div>
        </div>
    }

    <div class="clearfix"></div>
</div>
